.bienvenidos{
	max-width: 100%;
	/*float: left;*/
	background: -webkit-linear-gradient(top,#0e65ef,#36ef3c);
    background: -moz-linear-gradient(top,#0047b8,#36ef3);
    padding:3px;
	border-radius: 5px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align:center;
	}

.bienvenidos p{
	font-size: 1.5em;
	font-family: SourceSansPro-Light;
	color:#fff;
}


@media (min-width: 1024px){
	
.bienvenidos{
	width: 99%;
	height: 410px;
	position: absolute;
	top:160%;
	margin: auto;
	
	bottom: 0;
		
	}
	.bienvenidos p{
	font-size: 2.5em;
	font-family: SourceSansPro-Light;
	color:white;
}
}

