@font-face{
	font-family:Satisfy-Regular;
	src:url(..Fuentes/Satisfy/Satisfy-Regular.ttf);
}
@font-face{
	font-family:Gabriela-Regular;
	src:url(../Fuentes/Gabriela/Gabriela-Regular.ttf);
}
@font-face{
	font-family:Khand-Bold;
	src:url(../Fuentes/Khand/Khand-Bold.ttf);
}
@font-face{
	font-family:Allura-Regular;
	src:url(../fonts/Allura-Regular.ttf);
}
@font-face{
	font-family:Parisienne;
	src:url(../fonts/Parisienner/Parisienne.ttf);
}

@font-face{
	font-family:Handlee-Regular;
	src:url(../fonts/Handlee/Handlee-Regular.ttf);
}

